body{
		background-color:#552583;
		color:#FDB927;
	}

ul{
		list-style-type: none;
        display: flex;
        justify-content: center;
	}
	
li{
		font-size:18px;
		text-align:center;
		margin:5px;
 		padding:5px;	
	    border: solid black 2px;
		
	}
	
	a:link{
		color:#FDB927;
		text-decoration:none;
	}
	
	a:visited{
		color:#FDB927;
		text-decoration:none;
	}
        /* Classes */
    .row {
        /* margin: 12px, 0px; */
        padding: 8px;
    }

	.vh{
        margin:10px;
        justify-content: center;
    }

    .mvp{
		
        border: solid black;
        padding: 6px;
        margin:15px;
            
        }
    
        /* ID's */
    #intro{
            background-image:url("mamba1.jpg");
            padding: 10px;
            border: solid #FDB927 2px;
            border-radius:10px;
        }

    #statTable{
		
		
            border:solid black;
            padding:5px;
        }	
            
    td{
            border: solid #FDB927 3px;
            padding: 6px;
            margin:15px;
            
        }

	#careerGrid{
		text-align: center;
		border:solid black;
		padding:5px;
	}
    
  
	
	</style>